body {
  font-family: 'Open Sans', sans-serif;
  background: #ddd;
}

h1,
h2,
h3 {
  font-family: 'Yellowtail', cursive;
}

h2 {
  color: #1e96fc;
}

header h2 {
  color: #5b2a86;
}

.site-footer {
  background-image: linear-gradient(#1e96fc, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(
    to right,
    #1e96fc,
    #605b56 10%,
    #020100 20%
  );
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: #ec5809;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid #5637dd;
}

/* Changes accordion anchor tags to unstyled */
a,
a:hover {
  color: inherit;
  text-decoration: none;
}
